:host {
  .condition {
    background: rgba(#E3F2FD, .51%);
    height: 60px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    p {
      font-size: 12px;
      color: #000000;

      span {
        color: #5C6BC0;
        font-weight: 500;
      }
    }
  }
}
